Q1. List any five functions of the pandas library with execution.

In [ ]:
read_csv(): This function is used to read a CSV file and create a DataFrame object.

head(): This function is used to display the first few rows of a DataFrame.

groupby(): This function is used to group rows of a DataFrame based on one or more columns.

fillna(): This function is used to replace missing values (NaN) in a DataFrame with a specified value.

plot(): This function is used to create plots from data in a DataFrame.

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the DataFrame with a new index that starts from 1 and increments by 2 for each 
row

In [9]:
import pandas as pd
def reindex(df):
    newindex = pd.RangeIndex(start=1,step=2,stop=len(df)*2)
    return df.reindex(newindex)
    
df= pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")
print(reindex(df))

891
      PassengerId  Survived  Pclass  \
1             2.0       1.0     1.0
3             4.0       1.0     1.0
5             6.0       0.0     3.0
7             8.0       0.0     3.0
9            10.0       1.0     2.0
...           ...       ...     ...
1773          NaN       NaN     NaN
1775          NaN       NaN     NaN
1777          NaN       NaN     NaN
1779          NaN       NaN     NaN
1781          NaN       NaN     NaN

                                                   Name     Sex   Age  SibSp  \
1     Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0    1.0
3          Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0    1.0
5                                      Moran, Mr. James    male   NaN    0.0
7                        Palsson, Master. Gosta Leonard    male   2.0    3.0
9                   Nasser, Mrs. Nicholas (Adele Achem)  female  14.0    1.0
...                                                 ...     ...   ...    ...
1773                                                NaN     NaN   NaN    NaN
1775                                                NaN     NaN   NaN    NaN
1777                                                NaN     NaN   NaN    NaN
1779                                                NaN     NaN   NaN    NaN
1781                                                NaN     NaN   NaN    NaN

      Parch    Ticket     Fare Cabin Embarked
1       0.0  PC 17599  71.2833   C85        C
3       0.0    113803  53.1000  C123        S
5       0.0    330877   8.4583   NaN        Q
7       1.0    349909  21.0750   NaN        S
9       0.0    237736  30.0708   NaN        C
...     ...       ...      ...   ...      ...
1773    NaN       NaN      NaN   NaN      NaN
1775    NaN       NaN      NaN   NaN      NaN
1777    NaN       NaN      NaN   NaN      NaN
1779    NaN       NaN      NaN   NaN      NaN
1781    NaN       NaN      NaN   NaN      NaN

[891 rows x 12 columns]

Q3. You have a Pandas DataFrame df with a column named 'Values'. <br>Write a Python function that iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The function should print the sum to the console.<br>

For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should calculate and print the sum of the first three values, which is 60.

In [22]:
def sum(df):
    s=0
    n=0
    for i in df.iterrows():         
        s=s+int(i[1])
        n=n+1
        if(n==3):
            break
    print("Sum of first 3 values",s)
import pandas as pd
data={"Values":  [10, 20, 30, 40, 50]}
df=pd.DataFrame(data)
sum(df)

Sum of first 3 values 60

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 'Word_Count' that contains the number of words in each row of the 'Text' column.

In [25]:
def wordcount(df):
    df["Word_count"] = df["Values"].apply(lambda x : len(x.split()))
    print(df)
    
import pandas as pd
data={"Values":  ["India, officially the Republic of India, is a country in South Asia.",
                  "It is the seventh-largest country by area, the most populous country as of 1 May 2023, and the most populous democracy in the world.",
                 "Modern humans arrived on the Indian subcontinent from Africa no later than 55,000 years ago."]}
df=pd.DataFrame(data)
wordcount(df)

                                              Values  Word_count
0  India, officially the Republic of India, is a ...          12
1  It is the seventh-largest country by area, the...          24
2  Modern humans arrived on the Indian subcontine...          15

Q5. How are DataFrame.size() and DataFrame.shape() different?

DataFrame.size and DataFrame.shape are two different attributes of a pandas DataFrame object that provide different information about the DataFrame:

DataFrame.size: This attribute returns the total number of elements in the DataFrame, which is equal to the product of the number of rows and columns. For example, if a DataFrame has 5 rows and 3 columns, df.size will return 15.

DataFrame.shape: This attribute returns a tuple containing the number of rows and columns in the DataFrame, respectively. For example, if a DataFrame has 5 rows and 3 columns, df.shape will return (5, 3).

In summary, DataFrame.size returns the total number of elements in the DataFrame, while DataFrame.shape returns the number of rows and columns as a tuple. Both attributes can be useful in different contexts depending on the information you need about the DataFrame.

Q6.Which function of pandas do we use to read an excel file?

read_excel()

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email addresses in the format 'username@domain.com'. Write a Python function that creates a new column 'Username' in df that contains only the username part of each email address.

In [28]:
def username(df):
    df["Username"] = df["email"].apply(lambda x : x.split("@")[0])
    print(df)
    
import pandas as pd
data={"email":  ["abcd@gmail.com",
                  "efgh@gmail.com",
                 "mnop@gmail.com"]}
df=pd.DataFrame(data)
username(df)

            email Username
0  abcd@gmail.com     abcd
1  efgh@gmail.com     efgh
2  mnop@gmail.com     mnop

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The function should return a new DataFrame that contains only the selected rows.
For example, if df contains the following values:
  A B C
0 3 5 1
1 8 2 7
2 6 9 4
3 2 3 5
4 9 1 2
Your function should select the following rows: A B C
1 8 2 7
4 9 1 2

In [41]:
def condition(df):
    print(df[(df["A"]>5) & (df["B"]<10)])

import pandas as pd
data={"A": [3,8,6,2,9],
     "B":  [5,2,9,3,1],
     "C":  [1,7,5,4,2]}
df=pd.DataFrame(data)

condition(df)

   A  B  C
1  8  2  7
2  6  9  5
4  9  1  2

Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean, median, and standard deviation of the values in the 'Values' column.

In [42]:
import pandas as pd

def calculate_stats(df):
    mean = df['Values'].mean()
    median = df['Values'].median()
    std = df['Values'].std()
    return mean, median, std
df = pd.DataFrame()
df['Values']= [10, 20, 30, 40, 50]
result=calculate_stats(df)
mean = result[0]
median = result[1]
std = result[2]
print("Mean:",str(mean)+ ", Median:",str(median)+ ", Standard deviation:",str(std))

Mean: 30.0, Median: 30.0, Standard deviation: 15.811388300841896

Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g. Monday, Tuesday) corresponding to each date in the 'Date' column.
For example, if df contains the following values:
Date
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-05
Your function should create the following DataFrame:
Date Weekday
0 2023-01-01 Sunday
1 2023-01-02 Monday
2 2023-01-03 Tuesday
3 2023-01-04 Wednesday
4 2023-01-05 Thursday
The function should return the modified DataFrame.

In [44]:
import pandas as pd
def add_weekday(df):
    df["Date"]= pd.to_datetime(df["Date"])
    df["weekday"] = df["Date"].dt.day_name()
    return df
df = pd.DataFrame({'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']})
print(add_weekday(df))

        Date    weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [45]:
import pandas as pd

def select_january_dates(df):
    df['Date'] = pd.to_datetime(df['Date'])
    start_date = '2023-01-01'
    end_date = '2023-01-31'
    mask = (df['Date'] >= start_date) & (df['Date'] <= end_date)
    return df.loc[mask]

df = pd.DataFrame({'Date': ['2022-12-31', '2023-01-01', '2023-01-15', '2023-01-31', '2023-02-15']})
print("Original DataFrame:")
print(df)
df = select_january_dates(df)
print("\nDataFrame with January dates only:")
print(df)

Original DataFrame:
         Date
0  2022-12-31
1  2023-01-01
2  2023-01-15
3  2023-01-31
4  2023-02-15

DataFrame with January dates only:
        Date
1 2023-01-01
2 2023-01-15
3 2023-01-31

Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to be imported?

In [46]:
import pandas as pd