1. Create a python program to sort the given list of tuples based on integer value using a lambda function.<br>
[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [26]:
team=[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
team.sort(key=lambda t : t[1])
print(team)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

2. Write a Python Program to find the squares of all the numbers in the given list of integers using lambda and map functions.<br>
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
n=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
n2=[]
for i in n:
    a=lambda j: j**2
    n2.append(a(i))
print(n2)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [5]:
list(map(lambda j: j**2, n))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

3. Write a python program to convert the given list of integers into a tuple of strings. Use map and lambda functions<br>

Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] <br>

Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [6]:
n=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
tuple(map(lambda i : str(i),n))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

4. Write a python program using reduce function to compute the product of a list containing numbers from 1 to 25.

In [16]:
from functools import reduce
n=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]
reduce(lambda x,y : x*y,n)

15511210043330985984000000

In [17]:
reduce(lambda x,y : x*y,range(1,26))

15511210043330985984000000

5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the filter function.
<br>
[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [18]:
n=[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
list(filter(lambda x : x%2==0 or x%3==0,n ))

[2, 3, 6, 9, 27, 60, 90, 120, 46]

6. Write a python program to find palindromes in the given list of strings using lambda and filter function.


['python', 'php', 'aba', 'radar', 'level']

In [37]:
n=['python', 'php', 'aba', 'radar', 'level']
list(filter(lambda x : x==x[::-1],n))

['php', 'aba', 'radar', 'level']