Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

In [13]:
s1= pd.Series([4, 8, 15, 16, 23, 42])
print(s1)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [14]:
l = [1,2,3,4,5,6,7,8,9,10]
s2=pd.Series(l)
print(s2)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:

In [17]:
data = {"Name" : ["Alice","Bob","Claire"],
        "Age":[25,30,27],
        "Gender":["Female","Male","Female"]}
df = pd.DataFrame(data)
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4 . What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

A DataFrame in Pandas is a two-dimensional labeled data structure with columns of potentially different types. It is similar to a spreadsheet or a SQL table, where each column can have a different type (e.g., numeric, string, boolean), and rows are labeled with an index. A DataFrame can be thought of as a collection of Series objects, where each Series represents a column in the DataFrame.

The main difference between a Series and a DataFrame is that a Series represents a single column of data, while a DataFrame represents multiple columns of data, arranged in a tabular format.

Here's an example to illustrate the difference between a Series and a DataFrame:

In [21]:
import pandas as pd

# Creating a Pandas Series
my_series = pd.Series([10, 20, 30, 40, 50])

# Creating a Pandas DataFrame
my_dataframe = pd.DataFrame({
    'Name': ['John', 'Jane', 'Bob', 'Alice', 'Mike'],
    'Age': [25, 30, 35, 40, 45],
    'Salary': [50000, 60000, 70000, 80000, 90000]
})

# Printing the Series and DataFrame
print("Pandas Series:\n", my_series)
print("\nPandas DataFrame:\n", my_dataframe)

Pandas Series:
 0    10
1    20
2    30
3    40
4    50
dtype: int64

Pandas DataFrame:
     Name  Age  Salary
0   John   25   50000
1   Jane   30   60000
2    Bob   35   70000
3  Alice   40   80000
4   Mike   45   90000

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

Pandas provides a wide range of functions that can be used to manipulate data in a DataFrame. Some common functions include:

head() and tail(): to view the first or last n rows of a DataFrame <br/>describe(): to view the statistical summary of the DataFrame shape: to view the number of rows and columns in the DataFrame <br/>drop(): to remove rows or columns from the DataFrame groupby(): to group rows based on a column and apply a function to each group <br/>sort_values(): to sort the DataFrame by one or more columns<br/> fillna(): to fill missing values in the DataFrame with a specified value or method <br/>apply(): to apply a function to each element of a DataFrame or a Series<br/> merge(): to join two or more DataFrames based on a common column or index

In [22]:
import pandas as pd

# Creating a sample DataFrame
employee_data = {
    'Name': ['John', 'Jane', 'Bob', 'Alice', 'Mike'],
    'Age': [25, 30, 35, 40, 45],
    'Salary': [50000, 60000, 70000, 80000, 90000]
}
df = pd.DataFrame(employee_data)

# Using the describe() function to view the statistical summary of the Salary column
print(df['Salary'].describe())

count        5.000000
mean     70000.000000
std      15811.388301
min      50000.000000
25%      60000.000000
50%      70000.000000
75%      80000.000000
max      90000.000000
Name: Salary, dtype: float64

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Among the three data structures provided by Pandas, only the DataFrame and Panel are mutable in nature.

A DataFrame is mutable because you can add, remove or modify columns and rows. Similarly, a Panel is mutable because you can add or remove items along the axis.

On the other hand, a Series is immutable because it represents a single column of data with an index. Once created, you cannot add or remove elements from a Series. However, you can modify the values of existing elements in a Series.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [26]:
import pandas as pd

# Creating Series for Name, Age and Gender
name = pd.Series(['John', 'Jane', 'Bob', 'Alice', 'Mike'])
age = pd.Series([25, 30, 35, 40, 45])
gender = pd.Series(['Male', 'Female', 'Male', 'Female', 'Male'])

# Creating a DataFrame by passing the Series as arguments
df = pd.DataFrame({'Name': name, 'Age': age, 'Gender': gender})

# Printing the DataFrame
print(df)

    Name  Age  Gender
0   John   25    Male
1   Jane   30  Female
2    Bob   35    Male
3  Alice   40  Female
4   Mike   45    Male